*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

header, main{
    /* width: 100%; */
}

.nav-item{
    text-transform: uppercase;
    font-size: 13px;
}

.nav-item .nav-link >b{
    font-weight: 500;
}

.d-flex input, .d-flex button {
    font-size: 14px;

}